
@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: 300;
  font-display: swap;
  src: url('fonts/spacegrotesk-light-webfont.woff2') format('woff2'),
    url('fonts/spacegrotesk-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: 400;
  font-display: swap;
  src: url('fonts/spacegrotesk-regular-webfont.woff2') format('woff2'),
      url('fonts/spacegrotesk-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: 500;
  font-display: swap;
  src: url('fonts/spacegrotesk-medium-webfont.woff2') format('woff2'),
    url('fonts/spacegrotesk-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: 600;
  font-display: swap;
    src: url('fonts/spacegrotesk-semibold-webfont.woff2') format('woff2'),
        url('fonts/spacegrotesk-semibold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-weight: 700;
  font-display: swap;
  src: url('fonts/spacegrotesk-bold-webfont.woff2') format('woff2'),
      url('fonts/spacegrotesk-bold-webfont.woff') format('woff');
}

:root {
  /* colors */
  --primary: #0d0d0d;
  --black: #000;
  --night: #0d0d0d;
  --light-grey:#fafafa;
  --light-grey2: #E8E8E8;
  --light-grey3: #AFAFAF;
  --dark-grey: #6d6d6d;
  --dark-grey2: #666666;
  --dark-grey3: #5E5E5E;
  --white: #fff;
  --green: #81A68A;
  --orange: #D96704;
  --blue: #C9EBF2;
  --dark-blue: #4C7EA0;
  --sand: #d0ccc8;
  --light-sand: #F1E9DE;
  --green-chart: #458254;
  --gold: #FBEACA;

  /* fonts */
  --font-size-base: 16px;
  --font-size-h1: 60px;
  --line-height-base: 1.42;

  /* responsive */
  --screen-xs: 576px;
  --screen-sm-min: 768px;
  --screen-sm-max: 992px;
  --screen-md-max: 1280px;
  --screen-lg-min: 1440px;
}

html,
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: SpaceGrotesk;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

#root {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

aside.bn-onboard-custom {
  z-index: 99999999999;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 56px;
  font-weight: 500;
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 42px;
  margin: 0;
}

h4 {
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}

p,
span {
  font-weight: 400;
  margin: 0;
}

.MuiDialog-container {
  background: rgba(53, 53, 53, 0.5);
  backdrop-filter: blur(7px);
  top: 0px;
  position: absolute;
  left: 0;
  width: 100vw;
}

@keyframes fadeAnim {
  0% {
      opacity: 0;
  }

  1% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes in {
  0% {
      opacity: 0;
      height: 0px;
  }
  1%{
      opacity: 0;
  }

  20% {
      opacity: 1;
  }

  100% {
      opacity: 1;
      height: calc(var(--final-height));
  }
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0px 4px 100px 0px rgba(109,109,109,0)
  }

  100% {
    box-shadow: 0px 4px 100px 0px rgba(109,109,109,0.5)
  }
}

li.MuiMenuItem-root, label.MuiInputLabel-root {
  font-family: 'SpaceGrotesk';
  color: var(--dark-grey);
}

.MuiSelect-select.MuiOutlinedInput-input {
  font-family: 'SpaceGrotesk';
  padding: 16px 0;
  font-size: 16px !important;
  color: var(--light-grey3);
}

label.MuiInputLabel-outlined {
  font-size: 14px;
  font-family: 'SpaceGrotesk';
  margin-left: -14px;
  color: var(--night);
}
